.topdiv{

  background-image: url("./../../images/studio8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 500px;

}
.topdiv > img {
  width: 300px;
  margin-left: 15%;
  margin-top: 10%;
  }

.aboutdiv {
  background-image: url("./../../images/studio3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 500px;

}
.space {
  height: 150px;
  display: flex;
  justify-content: space-around;
}
.aboutp {
  color: white;
  background-color: black;
  border: solid;
  border-color: white;
  border-width: thick;
  width: 50%;
  padding: 5%;
  line-height: 30px;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  top:15%;
  left:10%;

}
.mobilephantogram {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: -5%;

}
.mobilephantogram > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilephantogram > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilepaperroute {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilepaperroute > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilepaperroute > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobiletears {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobiletears > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobiletears > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobileasilent {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobileasilent > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobileasilent > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobileafi {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobileafi > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobileafi > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilebandhorses {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilebandhorses > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilebandhorses > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobileavril {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobileavril > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobileavril > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilefuel {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilefuel > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilefuel > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilebush {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilebush > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilebush > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilethreeeleven {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilethreeeleven > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilethreeeleven > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobileblondie {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobileblondie > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobileblondie > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilegavin {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilegavin > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilegavin > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobileallamerirege {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobileallamerirege > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobileallamerirege > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilecplay {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilecplay > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilecplay > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobileblink {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobileblink > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobileblink > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobiledeftones {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobiledeftones > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobiledeftones > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobileguanoapes {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobileguanoapes > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobileguanoapes > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilejackjohnson {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilejackjohnson > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilejackjohnson > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilelondon {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilelondon > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilelondon > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilemadonna{
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilemadonna> img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilemadonna> p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilemute {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilemute > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilemute > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobilepapar {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobilepapar > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobilepapar > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobileparamore {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
}
.mobileparamore > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobileparamore > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
.mobileutwo {
  background-color: white;
  width: 90%;
  margin-left: 4.7%;
  margin-top: 15%;
  margin-bottom: -40%;
}
.mobileutwo > img {
  width: 94%;
  margin-left: 10px;
  margin-top: 10px;
}
.mobileutwo > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 margin-top: 10px;
}
i {
  color: white;
  margin-top: 15%;
}
.phantogram {
  background-color: white;
  width:400px;
}
.phantogram > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
 .phantogram > p{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  padding-top: 4px;
}
.paperroute{
  background-color: white;
  width:400px;
}
.paperroute > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.paperroute > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 23px;
}
.tears{
  background-color: white;
  width:400px;
}
.tears > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.tears > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
}
.firstrow {
  display: flex;
  justify-content: space-around;
}.afi{
  background-color: white;
  width:400px;
}
.afi > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.afi > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 1%;
}
.asilent{
  background-color: white;
  width:400px;
}
.asilent > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.asilent > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
}
.bandhorses{
  background-color: white;
  width:400px;
}
.bandhorses > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.bandhorses > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 5%;
}
.secondrow {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.avril{
  background-color: white;
  width:400px;
}
.avril > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.avril > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 14%;
}
.bush{
  background-color: white;
  width:400px;
}
.bush > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.bush > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 14%;
}
.fuel{
  background-color: white;
  width:400px;
}
.fuel > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.fuel > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 5%;
}
.thirdrow {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.threeeleven{
  background-color: white;
  width:400px;
}
.threeeleven > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.threeeleven > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 9%;
}
.gavin{
  background-color: white;
  width:400px;
}
.gavin > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.gavin > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 9%;
}
.blondie{
  background-color: white;
  width:400px;
}
.blondie > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.blondie > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 5%;
}
.fourthrow {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.blink{
  background-color: white;
  width:400px;
}
.blink > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.blink > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 12%;
}
.cplay{
  background-color: white;
  width:400px;
}
.cplay > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.cplay > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 13%;
}
.allamerireje{
  background-color: white;
  width:400px;
}
.allamerireje > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.allamerireje > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 5%;
}

.fifthrow {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.sixrow {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.deftones{
  background-color: white;
  width:400px;
}
.deftones > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.deftones > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 16%;
}
.guanoapes{
  background-color: white;
  width:400px;
}
.guanoapes > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.guanoapes > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 5%;
}
.jackjohnson{
  background-color: white;
  width:400px;
}
.jackjohnson > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.jackjohnson > p{
 text-align: center;
 font-family: sans-serif;
 font-size: 20px;
 letter-spacing: 4px;
 padding-top: 4px;
 margin-top: 5%;
}
.london{
  background-color: white;
  width:400px;
}
.london > img {
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
}
.london > p {
   text-align: center;
   font-family: sans-serif;
   font-size: 20px;
   letter-spacing: 4px;
   padding-top: 4px;
   margin-top: 9%;
  }
  .madonna{
    background-color: white;
    width:400px;
  }
  .madonna > img {
    width: 380px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .madonna > p {
     text-align: center;
     font-family: sans-serif;
     font-size: 20px;
     letter-spacing: 4px;
     padding-top: 4px;
     margin-top: 5%;
    }
    .mute{
      background-color: white;
      width:400px;
    }
    .mute > img {
      width: 380px;
      margin-left: 10px;
      margin-top: 10px;
    }
    .mute > p {
       text-align: center;
       font-family: sans-serif;
       font-size: 20px;
       letter-spacing: 4px;
       padding-top: 4px;
       margin-top: 9%;
      }
      .sevenrow {
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
      }
      .eightrow {
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
      }
      .papar{
        background-color: white;
        width:400px;
      }
      .papar > img {
        width: 380px;
        margin-left: 10px;
        margin-top: 10px;
      }
      .papar > p {
         text-align: center;
         font-family: sans-serif;
         font-size: 20px;
         letter-spacing: 4px;
         padding-top: 4px;
         margin-top: 5%;
        }
        .utwo{
          background-color: white;
          width:400px;
        }
        .utwo > img {
          width: 380px;
          margin-left: 10px;
          margin-top: 10px;
        }
        .utwo > p {
           text-align: center;
           font-family: sans-serif;
           font-size: 20px;
           letter-spacing: 4px;
           padding-top: 4px;
           margin-top: 19%;
          }
          .paramore{
            background-color: white;
            width:400px;

          }
          .paramore > img {
            width: 380px;
            margin-left: 10px;
            margin-top: 10px;
          }
          .paramore > p {
             text-align: center;
             font-family: sans-serif;
             font-size: 20px;
             letter-spacing: 4px;
             padding-top: 4px;
             margin-top: 21%;
            }
            .gearheader {
              background-image: url("./../../images/studio7.jpg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              height: 500px;
              border: solid;
              border-color: white;
              display: flex;
              justify-content: space-between;

            }
            .gearpic {
              width: 250px;
              margin-left: 20%;
              margin-top: 20%;
              transform: rotate(340deg);
            }
            li {
              color: white;
font-family: sans-serif;
            }
            ul {
              margin-right: 20%;
              padding-top: 4%;

            }
            .contactform {
  margin-left: 60px;
}
input:focus {outline:0;}

button:focus {outline:0;}
.message-box {
  padding-bottom: 70px;
  margin-top: 20px;
}
button {
  background-color: black;
  color: white;

}
.infodiv{
  display: flex;
  flex-direction: column;
  margin-top: 40px;

}
.input-box {
  margin-top: 20px;
}
.the-button {
  margin-top: 20px;
  margin-left: 60px;
}
.the-button:focus {outline:0;}
input {
  width: 400px;

}
.contactdiv {
  background-image: url("./../../images/studio9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
  border-color: white;
  height: 400px;
  display:flex;

}
.session {
  font-size: 55px;
  color: white;
  font-weight: 100;
  letter-spacing: 5px;
  margin-left: 17%;
  margin-top: 12%;
}
.mobileaboutp {
  position: relative;
  top: -12.6%;
  left: 26%;
  width: 70%;
  line-height: 27px;
  background-color: black;
  color: white;
  border: solid;
  padding:5%;

}
.mobileaboutlabel {
  font-size: 40px;
  position: relative;
  right:40%;
  top: 30%;
  letter-spacing: 20px;
  color: #FFC107;
  font-weight: 300;
  transform: rotate(270.2deg);
}
.mobile-contactform {
  width: 100%;
  margin-top: 20%;
}
.mobile-input-box {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  border-top:none;
  border-left: none;
  border-right: none;

}
.mobile-message-box {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  border-top:none;
  border-left:none;
  border-right: none;

}
.the-button {
  margin-top: 20px;
  margin-left: 60px;
}
.the-button:focus {outline:0;}

.mobilegearlistdiv > ul{
  font-size: 15px;

}
